extends layout

block content
  h1= clase.nombre
  form(action='/#{clase.nombre}' method='POST')
    label(for='nombre') Nombre:
    input(type='text' id='nombre' name='nombre')
    label(for='porc') Porcentage:
    input(type='number' id='porc' name='porcentage')
    input(type='submit' value='crear')
  each n in clase.notas
    p #{n.nombre} vale #{n.porcentage} %, nota: #{n.puntos}
